// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Post Style
/*#postID{

}*/
table{
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}
.post{
    width: 100%;
}
#postImage{
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#postComment{
    float: left;
    max-width: 75%;
    max-height: 100%;
}
.postActionForm .btn{
    margin-left: 5px;
}
.postActionForm{
    display: inline;
}
.card-body #postActionFormContainer{
    float: right;
    //display: inline;
}